<ion-content color="primary">

  <img src="https://i.imgur.com/Nyce96n.png" style="width:300px; display: block; position:absolute; top: 20%; left:calc(50% - 150px)">

<ion-grid style="position:absolute; width:100%; bottom: 32px;">
  <ion-row>
    <ion-col>
      <div>
        <ion-button color="dark" expand="block">I'm a Parent</ion-button>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div class="button-bar">
        <ion-button color="danger" [routerLink]="['/tabs/tab2']">I'm a teen</ion-button>
        <ion-button color="danger" [routerLink]="['/tabs/tab2']">Not yet a teen!</ion-button>
      </div>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-button id="guest" expand="block">Continue as Guest</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
    


</ion-content>
