<app-menu></app-menu>

<ion-content [fullscreen]="true">
  <app-header [title]="'Transactions'"></app-header>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card color="primary">
          <ion-card-content>
            <h1 style="margin-bottom:16px !important">Total Balance: ${{totalBalance}}</h1>
            <h2 style="margin-bottom:16px !important">Available Balance: ${{remainingBalance}}</h2>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Transactions in the last 30 Days</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
                <ion-item *ngFor="let transaction of transactions">
                  <ion-label>
                    <h2>{{transaction?.name}} <span class="ion-float-right">-${{transaction?.amount}}</span></h2>
                    <p>{{transaction?.date}}</p>
                  </ion-label>
                </ion-item>
            </ion-list>
            <ion-label>Show More...</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>


</ion-content>




  <ion-tab-bar slot="bottom">
    <ion-tab-button [routerLink]="['/tabs/tab1']">
      <ion-icon name="star-outline"></ion-icon>
      <ion-label>Goals</ion-label>
    </ion-tab-button>

    <ion-tab-button [routerLink]="['/tabs/tab2']">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button [routerLink]="['/tabs/tab3']">
      <ion-icon name="checkbox-outline"></ion-icon>
      <ion-label>Tasks</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
